<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Register</h2>
            <hr>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

            <div class="mb-3">
                <label for="FirstName" name="first_name" class="form-label">First Name</label>
                <input required type="text" class="form-control" name="first_name">
            </div>

            <div class="mb-3">
                <label for="LastName" name="last_name" class="form-label">Last Name</label>
                <input required type="text" class="form-control" name="last_name">
            </div>

            <div class="mb-3">
                <label for="UserName" name="user_name" class="form-label">Username</label>
                <input required type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="Password" name="Password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <p>Already have an account?<a href="/login/">Login</a></p>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</body>

</html>